# --------------------------------
# Python
# --------------------------------
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# --------------------------------
# Virtual Environments
# --------------------------------
.env
.venv/
venv/
env/
*.env

# --------------------------------
# VS Code / PyCharm / JetBrains
# --------------------------------
.vscode/
.idea/

# --------------------------------
# macOS / Windows
# --------------------------------
.DS_Store
Thumbs.db

# --------------------------------
# Project-specific
# --------------------------------
data/
